body {
    background-color: var(--bg-color);
    margin: 0;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    color: var(--text)
}
ul {
    background-color: var(--navbar);
}
a {
    color: var(--text)
}

a:hover{
    color: var(--accent)
}

button {
    background-color: var(--accent);
}
html[data-theme="dracula"] {
    --bg-color: #282A36;
    --navbar: #44475A;
    --accent: #ff5555;
    --text: #F8F8F2;
}

html[data-theme="val"] {
    --bg-color: #bfdf8e;
    --navbar: #f1fec6;
    --accent: #ffad4f;
    --text: rgb(20, 16, 6);
}

.main-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}