body {
    background-color: var(--bg-color);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
ul {
    background-color: var(--navbar);
}
a {
    color: black
}

a:hover{
    color: var(--accent)
}

button {
    background-color: var(--accent);
}

html[data-theme="dracula"] {
    --bg-color: #282a36;
    --navbar: #44475a;
    --accent: #ff5555;
}

html[data-theme="val"] {
    --bg-color: #bfdf8e;
    --navbar: #f1fec6;
    --accent: #ffad4f;
}