body {
    background-color: var(--bg-color);
    margin: 0;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    color: var(--text)
}
ul {
    background-color: var(--navbar);
}
a {
    color: var(--text)
}

a:hover{
    color: var(--accent)
}

.flex-column {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.flex-inline {
    display: inline-flex;
    margin: 0;
    padding: 0;
}
.centered {
    justify-content: center;
    align-items: center;
}

.rating-box {
    gap: .3rem;
    margin: .5rem;
    border-radius: 2rem;
    padding: .2rem;
    width: 75%;
    padding-bottom: 1.5rem;

    p {
        margin:0;
        margin-left: 2rem;
        padding-bottom: .5rem;
    }
    h4 {
        margin:0;
        margin-left: 2rem;
    }
}
.hover-shadow:hover{
    box-shadow: .02rem .02rem .5rem var(--text);
}

.rating-star {
    width: 100%;
    height: 100%;
    padding: 0;
  }
.active-star {
    color: var(--accent);
  }

.contrast-box {
    background-color: var(--navbar);
    color: var(--contrast-text);
}
.standard-box {
    background-color: var(--bg-color);
    color: var(--text);
}

button {
    background-color: var(--accent);
}
html[data-theme="dracula"] {
    --bg-color: #282A36;
    --navbar: #44475A;
    --accent: #ff5555;
    --text: #F8F8F2;
    --contrast-text: #F8F8F2;
}

html[data-theme="val"] {
    --bg-color: #bfdf8e;
    --navbar: #f1fec6;
    --accent: #ffad4f;
    --text: rgb(20, 16, 6);
    --contrast-text: rgb(0, 0, 0);
}

html[data-theme="standard"] {
    --bg-color: #eff1f3;
    --navbar: #223843;
    --accent: #d3522f;
    --text: #223843;
    --contrast-text: #eff1f3;
}